*/node_modules
/public/hot
/public/storage
*/storage/*.key
/storage/storage
/storage/temp
/vendor
*/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
xampp
storage.zip
managment
shop
application/storage/framework